@charset "UTF-8";

/*공통부분 작성*/
html {
    font-size: 100%;
}

body {
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
    line-height: 1.7;
    height: 200vh;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*해더 부분*/
.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0%;
    margin: 0 auto;
    padding: 0 10%;
    width: 100%;
}




.logo{
    width: 60px;
    height: 60px;
    margin: 20px;
}

.main-nav{
    list-style: none;
    display: flex;
    font-weight: bold;
    font-size: larger;
    position: relative;
    z-index: 2;
}

.main-nav a{
    margin-left: 36px;
    color: white;
}

.main-nav a:hover {
    color: rgb(247, 139, 6)
}

.home_top_mainText {
    color: white;
    text-align: center;
    padding: 20vh;
}

.main-text h4{
    line-height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
}

.main-text h2{
    margin-top: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h2{
    font-size: 70px;
}
h4{
    font-size: 30px;
}
/*middle 부분*/
.middle-page {
    background-color: white;
    height: 2000px;
}

/*footer 부분*/

.footer-header {
    text-align: center;
    color: white;
}

input {
    background: white;
    border: 1px solid black;
}

textarea {
    background: white;
}

.flex-box1 {
    color: white;
    display: grid;
    grid-template-columns: auto;

    border: 1px solid white;
}
.flex-box2 {
    color: white;
    border: 1px solid white;
}

.small-text {   
    text-align: center;
    color: white;
}    

.high-light{
    color: rgb(247, 139, 6);
}
button{
    color: white;
    border: 1px solid white;
}

.home-top{
    width: 100%;
    background-image:url(../images/header.jpg), linear-gradient(gray, gray);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    position: absolute;
    z-index: 1;
}

.home-bottom{
    background-image:url(../images/header.jpg), linear-gradient(gray, gray);
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    position: absolute;
    z-index: 1;
}